@use "variables" as *;
@use "mixins";

.card__overlay {
  background: rgba(79, 79, 79, .6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

.unvisible {
  width: 0px;
  height: 0px;
  overflow: hidden
}

.btn__close {
  width: 62px;
  min-width: 62px;
  height: 62px;
  outline: 1px solid #fff;
  border-radius: 50%;
  font-size: 54px;
  line-height: 58px;
  text-align: center;
}

.btn__close:hover {
  cursor: pointer;
}

.card {
  @include mixins.flex(column);
  border: 0;
  border-radius: $defaultBorderRadius;
  background-color: $primary;
  color: white;
  padding: $defaultPadding;

  &_full {
    flex-direction: row;
    background-color: rgba(14, 32, 55, 1);
;
    opacity: 1;
    width: 65%;
    margin: 130px auto 0;
   

    .card__title {
      flex-grow: 0;
    }
  }

  &_compact {
    flex-direction: row;
    background-color: transparent;
    align-items: center;
    border-radius: 0;

    .card__title {
      flex-grow: 1;
    }
  }

  &__column {
    @include mixins.flex(column);
    align-items: flex-start;
  }

  &__row {
    @include mixins.flex(row);
    align-items: center;
    gap: $defaultPadding;
  }

  &__image {
    height: 390px;
    aspect-ratio: 1;
    margin: 3.75rem;
  }
  &__title {
    font-size: $titleFontSize;
    font-weight: 500;
    margin: 0;
    flex-grow: 1;
  }
  &__text {
    text-align: left;
    flex-grow: 1;
  }
  &__category {
    padding: 0.5rem 1.25rem;
    border-radius: 2.5rem;
    margin-bottom: 12px;
    color: $primary;

    &_soft {
      background-color: $category1;
    }
    &_hard {
      background-color: $category5;
    }
    &_other {
      background-color: $category2;
    }
    &_additional {
      background-color: $category3;
    }
    &_button {
      background-color: $category4;
    }
  }
  &__action {

  }
  &__price {

  }
}